@import "../../../scss/main_settings.scss"; 

.content_block {
    height: calc(100vh - 4rem);
    width: 100%;
    background-image: url("/images/common/bg");
    padding-top: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend %flex_nowrap, %justify_content_center, %align_items_center;
    position: relative;
    @media screen and (min-width:0px) and (max-width:1024px) {
        background-size: contain;
        overflow: hidden;
    }
    .title_wrapper {
        position: relative;
        z-index: 2;
        h1 {
            @extend %Montserrat_bold, %page_title;
            font-size: 3.5rem;
            @media screen and (min-width:0px) and (max-width:1024px) {
                font-size: 1.5rem;       
                width: 80%;
                margin: auto;
            }
        }
        h2 {
            @extend %Montserrat_light, %page_title;
            font-size: 5.5rem;
            @media screen and (min-width:0px) and (max-width:1024px) {
                font-size: 2rem;
            }
            
        }
        p {
            @extend %Anonymous_normal, %page_title;
            font-size: 1.7rem;
            padding-top: 2rem;
            padding-bottom: 3rem;
            @media screen and (min-width:0px) and (max-width:1024px) {
                font-size: 1rem;
            }
        }
        .readMore {
            color: $gray;
            width: 4rem;
            height: 4rem;
            @extend %flex_nowrap, %justify_content_center, %align_items_center;
            border-radius: 50%;
            margin: auto;
            border: 1px solid $gray;
            -webkit-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            &:hover {
                color: $white;
                text-shadow: 2px 2px 1rem $white, -2px -2px 1rem $white;
                border-color: $white;
            }
            .readMore_icon {
                font-family: 'Fontello';
                font-size: 2rem;
                &::before {
                    content: '\e809';
                }
            }
        }
    }
    .blure {
        @extend %blure;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 25rem;
        height: 25rem;
        opacity: 0.7;
    }
}